:root {
  --background: #121212;
  --pink: #ffcdd2;
  --green: #1ed760;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}
.btn {
  border-radius: 15px;
  border: none;
}
