.App {
  height: 95vh;
  position: relative;
}

.App img {
  margin: auto;
  margin-top: 1.5rem;
}
.policy {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-inline: auto;
  width: fit-content;
  margin-bottom: 1.5rem;

  color: rgb(166, 166, 166);
  text-align: center;
  font-size: 0.75rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.policy a {
  color: rgb(166, 166, 166);
}

/* Progress bar styles */
.progress-bar-wrapper {
  display: flex;
  flex-direction: column;
}
.progress-disp {
  display: flex;
}
.progress-disp p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
}
.progress-disp span {
  font-weight: 500;
  font-size: 1rem;
  color: #b3b3b3;
}

.progress-disp i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: #818181;
}

.progress-bar {
  margin: auto;
  width: 90%;
  height: 2px;
  background-color: #818181;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: var(--green);
  width: 0; /* This will be dynamically updated */
  transition: width 0.3s ease-in-out;
}
.Form .Form-title {
  padding: 1rem 0 5px 0;
}
.Form .Form-title span {
  color: #b3b3b3;
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 0;
}

.Form .Form-title span a {
  color: #818181;
}

.Form .name {
  border: solid 2px #7c7c7ca9;
}

.DOB {
  display: flex;
}

.DOB input {
  margin: 0.5rem;
  border: solid 2px #7c7c7ca9;
}

.DOB .days {
  width: 3rem;
}

.DOB .monts {
  width: 10rem;
}
.DOB .years {
  width: 5rem;
}

.Gender_top {
  color: white;
}

.Gender {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.Gender label {
  padding: 0.25rem;
}

.Gender input {
  background-color: black;
}

.error {
  color: #f3727f;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.error i {
  font-size: 1rem;
  padding-right: 0.25rem;
}
