.footerLInks {
  font-family: "Work Sans", sans-serif;
  height: 10rem;
  padding: 1rem;
  font-size: 1.15rem;
  font-weight: 500;
}
.linkTitle {
  margin: 1rem 0;
  color: white;
}
.innerlinks {
  margin: 0.5rem 0;
}
.footerLInks a {
  text-decoration: none;
  color: white;
  color: rgb(146, 142, 142);
}
