.NavBar {
  background-color: black;
  display: flex;
  padding: 0.75rem 1rem;
}

.NavBar img {
  max-height: 32px;
}

.NavBar span {
  color: white;
  text-align: right;
}
.NavBar .nav-items {
  margin-left: auto; /* Pushes the span to the right */
  display: flex;
  align-items: center;
}

.NavBar .nav-items i {
  font-size: 1.25rem;
}

.NavBar span button {
  border: none;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
}
