.SignUpBanner {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.SignUpBanner img {
  max-height: 32px;
}
.Email .SignUpBanner p {
  font-size: 2rem;
}

.Email {
  font-family: "Work Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
}

.Email p {
  font-weight: 700;
  font-size: 0.75rem;
  padding: 1rem 0;
}
.Email textarea {
  display: flex;
  background-color: black;
  height: 3rem;
}
::placeholder {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: rgb(166, 166, 166);
  padding: 0.5rem;
  font-size: 1rem;
}

.Email button {
  background-color: var(--green);
  padding: 1rem 0;
  border-radius: 3rem;
  font-weight: 700;
  font-size: 1rem;
  margin: 1rem 0;
}
